body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #1e3c72, #2a5298);
    font-family: 'Poppins', sans-serif;
    color: #fff;
    height: auto;
}

.box {
    display: flex;
    background: rgba(255, 255, 255, 0.1);
    flex-direction: row;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    gap: 20px;
}

.container {
    display: flex;
    flex-direction: column;
}

.row-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

select, input[type="submit"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
}

select {
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    outline: none;
    cursor: pointer;
}

select option{
    color: black;
}

select:hover {
    background: rgba(255, 255, 255, 0.3);
}

input[type="submit"] {
    background: #ff6f61;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #e65c50;
}

#image-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

#info-container {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

iframe, img {
    border-radius: 15px;
}

button {
    background: #ff6f61;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    border: none;
    background: #e65c50;
}

.main {
    font-size: 36px;
    font-weight: bold;
}

.tooltip {
    font-size: 20px;
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.tooltip .tooltip-text {
    visibility: hidden;
    width: 250px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 10px;
    padding: 15px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    opacity: 0;
    left: 10%; 
    font-size: 15px;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-bottom .tooltip-text {
    top: 100%;
    bottom: auto;
}
